<!DOCTYPE html>
<html>
<head>
	<title>Django girls blog
	</title>
	

</head>
<body>
	<div>
		<h1><a href="">Django Girls blog </a> </h1> 
	</div>
	<div>
		{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
		<!--
			{{post}}
		<p> published:18/03</p> 
		<h2><a href=""> My second post on my second-blog</a></h2>
		<p>  Aliquam etiam feugiat malesuada egestas platea quisque sed, scelerisque platea senectus primis libero etiam. </p>
	-->
	</div>

</body>
</html>